/* Added Styles for the side bar */
:root{
    --main-highlight-color: #4286f4;
    --main-higlight-color-alt: white;
    --main-background-color: #111; 
}

body {
    font-family: "Lato", sans-serif;
}
  
.sideNavButton{
    top: 5px;
    left: 0;
    width: 50px;
    height: 0px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    background-color: var(--main-background-color);
    color: var(--main-higlight-color-alt);
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-background-color);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}

.sidenav .closebtn{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-left: 0px;
    text-align: center;
    margin-top: 0px;
}

.sidenav .closebtn:hover{
    background-color: black;
    color: var(--main-higlight-color-alt)
}
  
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top:20px; 
    color: var(--main-highlight-color);
    display: block;
}
  
.sidenav img {
    position: relative; 
    top: 0px;
    left: 0; 
}
  
.sidenav a:hover {
    color: var(--main-higlight-color-alt);
}
  
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  
  
/* Styling for the top bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: right;
    color: var(--main-higlight-color-alt);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: var(--main-higlight-color-alt);
    color: black;
}

.topnav a:visited {
    color: chartreuse;
}
  
.topnav a.active {
    background-color: var(--main-highlight-color);
    color: var(--main-higlight-color-alt);
}