.login {
    position: relative;
    top: 10%;
    left: 38%;
    width: 600px;
    height: 800px;
    background-color: lightgray;
    
}

.login h1{
    position: relative;
    left: 50%;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color: aquamarine
}

.login .log

.login .closeLogin{
    position: relative;
    top: 5%;
    left: 85%;
}


