/* Added Styles for the side bar */
@import "root.css";

.sideNavButton{
    z-index: 1;
    top: 5px;
    left: 0%;
    width: 50px;
    height: 0px;
    position: fixed;
    text-align: center;
    font-size: 25px;
    background-color: var(--main-background-color);
    color: var(--main-higlight-color-alt);
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--main-background-color);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    min-width: 200px;
    text-align: center;
}

.sidenav .closebtn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    width: 20%;
    margin-left: 0px;
    text-align: center;
    margin-top: 0px;
    background-color: black;
    color: white;
    border-radius: 100px;
    
}

.sidenav .closebtn:hover{
    background-color: white;
    color: black;
}
  
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 200%;
    position: relative;
    top:20px; 
    color: var(--main-highlight-color);
    display: block;
}
  
.sidenav img {
    position: relative; 
    top: 0px;
}
  
.sidenav a:hover {
    color: var(--main-higlight-color-alt);
}
  
  
/* Styling for the top bar */
.topnav {
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    display:inline-block;
    padding-right:18px;
}

.topnav a {
    float: right;
    color: var(--main-higlight-color-alt);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 120%;
}
  
.topnav a:hover {
    background-color: var(--main-higlight-color-alt);
    color: black;
}
  
.topnav a.active {
    background-color: var(--main-highlight-color);
    color: var(--main-higlight-color-alt);
}