@import "root.css";

#createPostBox{
    width: 900px;
    height: 790px;
    background-color: white;
    position:absolute;
    top                   : 5%;
    left                  : 25%;
    right                 : auto;
    bottom                : auto;
}

#createPostHeader{
    font-size: 50px;
}

#createPostTitle{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    min-width: 820px;
}

#createPostDescription{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

#createPostMoney{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

#createPostTags{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}

#createPostExit{
    position: absolute;
    top: 107%;
    left: 2%;
    padding: 15px 25px;
    border-radius: 4px;
    color:var(--blue);
    background-color: white;
    border:var(--blue) solid;
}

#createPostExit:hover{
    color:white;
    background-color:var(--blue);
}

#createPostExit:active{
    color:var(--blue);
    background-color: white;
}


#createPostSubmit{
    position: absolute;
    top: 107%;
    left: 85%;
    padding: 15px 25px;
    color:var(--blue);
    background-color: white;
    border:var(--blue) solid;
}

#createPostSubmit:hover{
    color:white;
    background-color:var(--blue);
}

#createPostSubmit:active{
    color:rgb(16, 181, 236);
    background-color: white;
}
