@import "root.css";

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.comment { 
    position: relative;
    padding: 9px 15px;
    border: 4px solid #0a3c59;
    margin-bottom: 10px;
    background: white;
    max-width: 80%;
}

.comment .user{
    background: 
        linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
    font-family: "Verdana";
}

.page {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 95%;
    align-content: center;
    display:inline-block;
    overflow: scroll;
    background-image: url('../images/background.jpg');
    margin-top: 50px;
}

.pic {
    position: relative;
    left: 83%;
    bottom:95%;
    max-width: 100px;
    max-height: 100px;
    border: 4px solid black;
    border-radius: 9px;
}

.post {
    left:30%;
    top:50px;
    position: relative;
    padding: 9px 15px;
    max-width: 600px; 
    height:100px;
    border: 4px solid #0a3c59;
    background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); 
    border-radius: 10px;
    transition: 0.5s;
    margin-bottom: 10px;
}
.post .Title{
    max-width:80%; 
    background: 
        linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
    font-family: "Verdana";
}
.post .Text{
    background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
    max-width:80%; 
    min-height:50px;
}