@import "root.css";

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.page {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 95%;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden; 
    background-image: url('../images/background.jpg');
    margin-top: -15px;
}



#area{
    width: 1325px;    
    height:220px;
    position:relative;
    left:50%;
    top: 50%;
    transform: translate(-50%,0%);
    background-color:white;

}

#header1{
    width:1250px;
    height:200px;
    background-color:white;
    position:relative;
    left:1%;
}


#pic{
    width:100px;
    height:100px;
    position:absolute;
    top:6%;
    left:-0.5%;
    display:block;
    margin: 0 auto;
}

#roles{
    position: absolute;
    left:71%;
    top:82%;
    font-size:17px;
    word-spacing:6px;
}


#username1{
    font-size:11px;
    color:black;
    transform:translate(0%,-210%);
}

#eg{
    text-align:center;
    width:90px;
}

#cost1{
    position:relative;
    left:90.5%;
    top:-20%;
    color:green;
}

#location{
    position:relative;
    left:90.5%;
    top:-33%;
    font-size:20px;
    width:130px;
}

#title1{
    position:relative;
    top:10%;
    left:8.5%;
    font-size:23px;
    color:black;
    font-weight: bold;
}

#paragraph1{
    position:absolute;
    top:30%;
    left:8.5%;
    font-size:15px;
    color:rgb(77, 76, 76);
    width:1000px;
    overflow:hidden;
    height:90px;

}
