:root{
    --main-highlight-color: #4286f4;
    --main-higlight-color-alt: white;
    --main-background-color: #111; 

    --dark:#17252A; 
    --blue-grey:#2B7A78;
    --light-blue:#DEF2F1;

    --white:#FEFFFF;
    --blue: #5580e9;
    --light-grey: #c1c8e4;
    --test5: #29648a;
}